DSPACE_UI_URL=http://localhost:4000/dspace
DSPACE_REST_URL=http://localhost:8090/server

DATABASE_URL=jdbc:postgresql://dspacedb:5432/dspacedb
DATABASE_URI=jdbc:postgresql://dspacedb:5432/dspacedb

DSPACE_HOST=localhost
DSPACE_UI_ORIGIN=http://localhost:4000
DSPACE_LOCAL_ORIGIN=http://localhost:4000

POSTGRES_USER=dspace
DB_USER=dspace
POSTGRES_PASSWORD=1234
DB_PASSWORD=1234
POSTGRES_DB=dspacedb
DB_NAME=dspacedb
PGDATA=/var/lib/postgresql/data/pgdata

DSPACE_DIR=/dspace

DSPACE_HOST=localhost
DSPACE_UI_HOST=localhost
DSPACE_UI_PORT=4000
DSPACE_UI_NAMESPACE=/dspace
DSPACE_UI_SSL=false

DSPACE_REST_HOST=localhost
DSPACE_REST_PORT=8090
DSPACE_REST_NAMESPACE=/server
DSPACE_REST_SSL=false

NODE_ENV=production