DSPACE_UI_URL=http://<IP_Host>:4000/dspace
DSPACE_REST_URL=http://<IP_Host>:8090/server

DSPACE_HOST=<IP_Host>

DATABASE_URL=postgres://dspace:1234@dspacedb:5432/dspacedb
DATABASE_URI=postgres://dspace:1234@dspacedb:5432/dspacedb

POSTGRES_USER=dspace
DB_USER=dspace
POSTGRES_PASSWORD=1234
DB_PASSWORD=1234
POSTGRES_DB=dspacedb
DB_NAME=dspacedb
PGDATA=/var/lib/postgresql/data/pgdata

NODE_ENV=production