dspace.dir = ${env:DSPACE_DIR}

db.url = ${env:DATABASE_URI}
db.name = ${env:DB_NAME}
db.username = ${env:DB_USER}
db.password = ${env:DB_PASSWORD}

dspace.hostname = ${env:DSPACE_HOST}
dspace.ui.url = ${env:DSPACE_UI_URL}
dspace.server.url = ${env:DSPACE_REST_URL}
solr.server = http://dspace-solr:8983/solr

rest.cors.allowed-origins = ${env:DSPACE_UI_ORIGIN},${env:DSPACE_LOCAL_ORIGIN},http://host.docker.internal:4000

# db.url = jdbc:postgresql://dspacedb:5432/dspacedb
# db.name = dspacedb
# db.username = dspace
# db.password = 1234